# 문제은행

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = ('https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/tips.csv')

In [3]:
tips = pd.read_csv(url)
#this df has 'total_bill','tip','sex','smoker','day','time','size' columns

In [8]:
#1. Show all the available information in the tips dataframe
tips[['total_bill','tip','sex','smoker','day','time','size']].head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
#2. Show me all the available information in the timps dataframe, where the time is dinner 
tips[tips['time'] == 'Dinner']

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

In [8]:
#3. Show me all the available information in the timps dataframe, where tip amount is more than $5 and when the time is dinner

In [9]:
#4. Show me everything where size of the parties at least 5 OR total bill was more than $45

In [11]:
frame = pd.DataFrame({'col1':['A','B',np.NaN,'C','D'],
                      'col2':['F',np.NaN,'G','H','I']})

In [12]:
#5. check null values in col2

In [13]:
#6. check not null values in col1

In [14]:
#7. From the tips, get the number of tips by sex

In [15]:
#8. See how tip amount differs by the day of the week

In [17]:
#9. See how tip amount differs by smoker & day

In [19]:
df1 = pd.DataFrame({'key':['A','B','C','D'],
                   'value':np.random.randn(4)})
df2 = pd.DataFrame({'key':['B','D','D','E'],
                   'value':np.random.randn(4)})

In [20]:
#10. Perform inner join of df1 and df2

In [21]:
#11. show all records from df1

In [22]:
#12. Show all records from df2

In [23]:
#13. Show all records from both

In [24]:
#14. Show all records from both without duplicates

In [25]:
friend_request = pd.DataFrame({'sender_id':[1,1,1,2,3],
                               'send_to_id':[2,3,4,3,4],
                               'request_date':['2016_06-01','2016_06-01','2016_06-01','2016_06-02','2016_06-09']})

request_accepted = pd.DataFrame({'requester_id':[1,1,2,3,3],
                                 'accepter_id':[2,3,3,4,4],
                                 'accept_date':['2016_06-03','2016_06-08','2016_06-08','2016_06-09','2016_06-10']})

In [26]:
#15. how would you go about getting the finding the overall acceptance rate of requests rounded to 2 decimals, 
#which is the number of acceptance divide the number of requests?

In [27]:
log = pd.DataFrame(
            {"date":['2016-6-1', '2016-9-22', '2016-10-28', '2016-11-4', '2016-6-29', '2016-10-1', '2016-6-15', '2016-7-29', '2016-11-1'],
             "student_id":[1, 2, 3, 4, 5, 6, 7, 8, 9]
            })
students = pd.DataFrame(
            {"date_of_birth":['1988-6-1', '1987-9-22', '1988-10-27', '1986-11-3', '1987-6-29', '1988-10-2', '1988-6-16', '1988-7-28', '1988-11-2'],
             "student_id":[1, 2, 3, 4, 5, 6, 7, 8, 9]
            })

In [28]:
#16.Find the percent of students attend school on their birthday

In [29]:
salary = pd.DataFrame({'ID':[1,2,3],
                      'Salary':[100,200,300]})

In [31]:
#17. Write a query to get the second highest salary from the Employee table.

In [32]:
#18. Write a SQL query to get the nth highest salary from the Employee table.

In [33]:
Customers = pd.DataFrame({'ID':[1,2,3,4],
                         'Name':['Joe','Henry','Sam','Max']})
Orders = pd.DataFrame({'ID':[1,2],
                      'CustomerId':[3,1]})

In [34]:
#19. Write a SQL query to find all customers who never order anything.

In [35]:
request_accepted_short = pd.DataFrame({'requester_id':[1,1,2,3],
                                 'accepter_id':[2,3,3,4],
                                 'accept_date':['2016_06-03','2016_06-08','2016_06-08','2016_06-09']})

In [36]:
#20. find the the people who has most friends and the most friends number

In [44]:
Employee = pd.DataFrame({'Id':[1,2,3,4,5,6,7],
                        'Name':['Joe','Henry','Sam','Max','Janet','Randy','Will'],
                        'Salary':[85000,80000,60000,90000,69000,85000,70000],
                        'DepartmentId':[1,2,2,1,1,1,1]
                        })
Department = pd.DataFrame({'Id':[1,2],
                          'Name':['IT','Sales']
                          })

In [45]:
#21. Find employees who earn the top three salaries in each of the department.